:root {
    --primary-color: #D0D0D0;
    --secondary-color: #414A79;
    --tertiary-color: #959BBC;   
    /* --main-padding: 15px;   */
}

header {
    display: flex;
    justify-content: center;
    font-family: 'Garamond', sans-serif;
    font-size: large;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    width: 100%;
    /* note: margin-left and margin-right set to auto centered it properly, margin all auto also works */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0.5em 0em 0.5em 0em;
}

body {
    background-color: var(--primary-color);
}

#show-list {
    width: 100%;
    background: transparent;
}

#show-list > li {
    list-style-type: none;
}

#show-info {
    /* display: flex;
    justify-content: space-evenly; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: large;
    font-weight: bold;
    /* padding-right: 10em; */
    /* padding: 0.5em 3em 0.5em 3em; */
}

td {
    padding: 0.5em 3em 0.5em 3em;
}

a {
    padding: 0.5em;
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    border: 1px solid black;
    cursor: pointer;
}

.times {
    padding-left: 400px;
    /* display: list-item;  */
}

#show-detailed-info {
    display: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 0.5em 0em 0.5em 0em;
}